<h1 class="text-center times-new-roman huge">{{ login }}</h1>
<hr/>
<img id="avatar" src="data:image/png;base64,{{ base64image }}" alt="Avatar image" width="15%" height="15%">
<div class="row w-25 gx-0">
    <ul class="list-group col">
        <li class="list-group-item list-group-item-primary flex-fill col h-25">Name</li>
        <li class="list-group-item list-group-item-primary flex-fill col h-25">Gender</li>
        <li class="list-group-item list-group-item-primary flex-fill col h-25">Mail</li>
        <li class="list-group-item list-group-item-secondary flex-fill col h-25">Total time</li>
        <li class="list-group-item list-group-item-secondary flex-fill col h-25">Session count</li>
        <li class="list-group-item list-group-item-secondary flex-fill col h-25">Win count</li>
        <li class="list-group-item list-group-item-secondary flex-fill col h-25">Lose count</li>
    </ul>
    <ul class="list-group col">
        <li class="list-group-item flex-fill col h-25">{{ name }}</li>
        <li class="list-group-item flex-fill col h-25">{{ gender }}</li>
        <li class="list-group-item flex-fill col h-25">{{ mail }}</li>
        <li class="list-group-item flex-fill col h-25">{{ total_time }}</li>
        <li class="list-group-item flex-fill col h-25">{{ session_count }}</li>
        <li class="list-group-item flex-fill col h-25">{{ win_count }}</li>
        <li class="list-group-item flex-fill col h-25">{{ lose_count }}</li>
    </ul>
    <p><a href="/report/{{ login }}" type="button" class="btn btn-secondary">Generate PDF report</a></p>
    {% if login==authorized_login %}
        <p><a href="/edit/{{ login }}" type="button" class="btn btn-warning">Edit profile</a></p>
    {% endif %}
</div>