<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>REST-mafia - Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="container-fluid">
    <header>
        <div><a href="/" style="color: black; text-decoration: none">
            <p style="float: left;"><img src="/ico.png" width="70"/></p>
            <h1>REST-Mafia</h1>
        </a></div>
    </header>
    <nav>
        <div class="btn-group w-100" role="group" aria-label="Basic example">
          <a href="/" type="button" class="btn btn-primary">Home page</a>
          <a href="all_profiles" type="button" class="btn btn-secondary">View all profiles</a>
          <a href="register" type="button" class="btn btn-warning">Register</a>
          <a href="authorize" type="button" class="btn btn-danger">Authorize</a>
        </div>
    </nav>
    <main>
        <h1 class="text-center times-new-roman huge">Registration is complete!</h1>
        <hr/>
    </main>
</body>
</html>